<% video_session = @video_session.data %>
<% src = '' %>
<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Video Session</h1>
    </div>
    <div class="col-md-6 wrapper">
      <%= link_to "All Candidates", candidates_path, method: :post, class: "pull-right btn btn-default" %>
    </div>
  </div>
</div>
<%= link_to "Delete Video Session", video_session_path(video_session["id"]), method: :delete, class: "pull-right btn btm-danger" %>
<div class="row">
  <div class="col-md-12">
    <% video_session.each do |k, v| %>
      <% if v.class == Hash %>
        <% if src = v['edit_resource_url'] %>
          <iframe allow="camera; microphone;" src="<%= v['edit_resource_url'] %>" name="video_session" id="video_session" width="100%" height="600px" frameBorder="0">
            <script type="text/javascript">
              window.addEventListener('message', function(event) {
                debugger
              })
            </script>
          </iframe>
        <% end %>
      <% else %>
        <p><strong><%= k %>: </strong><%= v %></p>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var frameee = document.getElementById('video_session');
    frameee.contentWindow.postMessage({a: "a"}, '*');

    var iframe = $("#video_session")
    iframe.load(function(){
      debugger
      console.log(iframe.contents().find('.btn'));
      console.log($(".btn"))
      console.log($(this).contents());
      debugger
      $(".btn")
      $(this).contents()
    });
  });
</script>
